* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}

h1 {
  color: #2f2e41;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(158, 41, 124);
  background: linear-gradient(
    149deg,
    rgba(158, 41, 124, 1) 9%,
    rgba(240, 106, 40, 1) 91%
  );
}

.login {
  height: 120vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  width: 100%;
}

img {
  width: 400px;
}

.login-form {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  width: 400px;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

input {
  width: 100%;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: bold;
  background-color: #9e297c;
  color: #fafafa;
}

button:hover {
  background-color: #871d73;
}

.form-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.form-register a {
  font-weight: bold;
  padding: 0 10px;
}

@media screen and (min-width: 600px) {
  .login {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 100%;
  }

  img {
    width: 500px;
  }

  .login-form {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  button {
    cursor: pointer;
    margin-top: 10px;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: bold;
    background-color: #9e297c;
    color: #fafafa;
  }

  button:hover {
    background-color: #871d73;
  }

  .form-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }

  .form-register a {
    font-weight: bold;
    padding: 0 10px;
  }
}
