* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  list-style: none;
}

p {
  font-size: 1rem;
}

h5 {
  font-size: 1.3rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(158, 41, 124);
  background: linear-gradient(
    149deg,
    rgba(158, 41, 124, 1) 9%,
    rgba(240, 106, 40, 1) 91%
  );
}

.login {
  margin: 2rem 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

img {
  width: 450px;
}

.login-form {
  padding: 2rem;
  gap: 2rem;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

input {
  width: 100%;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

button {
  margin-top: 2rem;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: bold;
  background-color: #9e297c;
  color: #fafafa;
}

button:hover {
  background-color: #f06a28;
}

.form-radio {
  font-size: 1.8rem;
  display: flex;
  gap: 10px;
  padding: 0.5rem 0;
}

.form-radio input[type="radio"] {
  border: 0px;
  width: 20px;
  height: 20px;
}

.form-check {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-check h5 {
  padding: 1rem 0;
}

.form-check p {
  font-size: 1.1rem;
}

.form-check input[type="checkbox"] {
  flex-direction: row;
  border: 0px;
  width: 20px;
  height: 20px;
}

select {
  width: 60px;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #2f2e41;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 45px;
  line-height: 3;
  background: #e6e6e6;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #9e297c;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #eb662e;
}

.form-kata {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.form-kata textarea {
  padding: 1.3rem;
  border-radius: 10px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .login {
    margin: 2rem 0;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f2e41;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    width: 100%;
  }

  img {
    width: 450px;
  }

  .login-form {
    padding: 2rem;
    gap: 2rem;
    width: 600px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.23);
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
  }

  input {
    width: 100%;
    height: 45px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  label {
    font-size: 1rem;
    font-weight: bold;
  }

  button {
    margin-top: 1.5rem;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: bold;
    background-color: #9e297c;
    color: #fafafa;
  }

  button:hover {
    background-color: #f06a28;
  }

  .form-radio {
    gap: 1rem;
    display: flex;
    flex-direction: row;
  }

  .form-radio input[type="radio"] {
    border: 0px;
    width: 20px;
    height: 20px;
  }

  .form-check {
    padding-bottom: 1.1rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-check input[type="checkbox"] {
    border-radius: 10px;
    border: 0px;
    width: 20px;
    height: 20px;
  }
  select {
    width: 60px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #2f2e41;
    cursor: pointer;
    font-size: 0.7em;
    font-family: "Open Sans", sans-serif;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    line-height: 2;
    background: #e6e6e6;
    overflow: hidden;
    border-radius: 0.25em;
  }
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #9e297c;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
  .select:hover::after {
    color: #eb662e;
  }
  .form-kata {
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
  }
  .form-kata textarea {
    padding: 1.2rem;
    border-radius: 10px;
    font-size: 1.2rem;
  }
}
